$white: #FFFFFF;
$black: #152831;
$red: #9C1421;
$grey: #667185;
$dark-grey: #F3F4F6;


$font: "Geometria", sans-serif;


$mediaWidthMobile: 320px;
$mediaWidthPhone: 768px;
$mediaWidthTablet: 1024px;
$mediaWidthLaptop: 1366px;
